.block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

// .search {

//     position: relative;
//         .searchInput {
//             padding: 10px 35px;
//             border-radius: 20px;
//             border: none;

//               &:focus {
//     outline: none;
//   }
//         }
// }

// .searchIcon {
//         position: absolute;
//     top: 8px;
//     left: 10px;
//     img {
//          width: 20px;
//          cursor: pointer;
//     }
   
// }